* {
	margin: 0px;
	padding: 0px;
	font-family: "Jost", "Sans serif";
	outline: none !important;
}

body {
	background: #1a1e27;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

.contentinput {
	border: none;
	border-radius: 8px;
	width: 100%;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 330px;
	box-sizing: border-box;
	font-size: 15px;
	resize: vertical;
	background: #262b39;
	color: #ffffff;
	padding: 10px;
	font-family: "Roboto Mono", "Jost", monospace;
}

.contentinput::placeholder {
	font-family: "Jost", sans-serif;
}

#folderList {
	width: 100%;
	background: #262b39;
	border: none;
	border-radius: 8px;
	font-size: 15px;
	box-sizing: border-box;
	color: #ffffff;
	padding: 8px 10px;
}

#nums {
	color: #545454;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*margin-right: 10px;*/
}

.contentinputscroll {
	overflow-y: auto;
	display: flex;
	height: 100%;
}

#contentinputtextarea {
	border: none;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	font-size: 15px;
	background: none;
	overflow-y: hidden;
	overflow-x: auto;
	color: #434343;

	resize: none;
}

.submitbutton {
	border: none;
	background: #5151c9;
	padding: 7px 30px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: 0.4s;
	color: #ffffff;
	font-size: 16px;
	-webkit-appearance: none;
}

.clear {
	margin-left: 10px;
	border: none;
	background: transparent;
	padding: 7px 30px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: 0.4s;
	color: #ee4343;
	font-size: 16px;
	border: solid 1px #ee4343;
}

.clear:hover {
	background: #ee4343;
	color: #ffffff;
}

.submitbutton:hover {
	background: #3e3eab;
}

.submitbutton:focus {
	background: #3e3eab;
}

#middle_title {
	margin-top: 20px;
}

#web_contents {
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.link1:link {
	text-decoration: none;
	color: #ffffff;
}

.link1:visited {
	text-decoration: none;
	color: #ffffff;
}

.link1:hover {
	text-decoration: none;
	color: #dddddd;
}

.pastecode {
	border-radius: 10px;
	padding: 10px;
	background: #262b39;
	display: block;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.pastecode pre {
	min-height: 50px;
}

.copybtn {
	cursor: pointer;
	color: #ffffff;
	transition: 0.3s;
	margin-left: 6px;
	vertical-align: middle;
}

.copybtn:hover {
	color: #dddddd;
}

#pasteButtons {
	vertical-align: middle;
}
#pasteButtons a {
	margin-right: 10px;
}

.titleinput {
	border: none;
	background: #262b39;
	color: #ffffff;
	padding: 10px;
	border-radius: 8px;
	width: 100%;
	font-size: 17px;
	font-family: "Space Mono", "Jost", monospace;
	box-sizing: border-box;
}

.titleinput::placeholder {
	font-family: "Jost", sans-serif;
}

.paste_title {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ffffff;
	padding-left: 20px;
}

#paste_title {
	padding-left: 5px;
	font-family: "Space Mono", "Jost", monospace;
}

.error {
	color: #ffffff;
	background: #ee0000;
	width: 80%;
	padding: 9px;
	margin: 9px auto;
	border-radius: 1px;
}

.error::before {
	font-family: "Material Icons";
	content: "error_outline";
	margin-right: 10px;
	font-size: 15px;
}

#footer {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	background: #212531;
	box-sizing: border-box;
	text-align: center;
	margin-top: 30px;
	
}

#footer #linksection {
	text-align: center;
}

#footer #linksection a {
	padding: 3px 6px;
	font-family: "Space Mono", "Jost", monospace;
}

#footer #linksection a:hover {
	font-weight: 600;
}

#nav {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 10px 0px;
	background: #212531bd;
	height: 40px;
	line-height: 40px;
	transition: 0.3s;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

#nav_menu {
	float: right;
	margin-right: 10%;
	display: block;
}

#logo {
	color: #323232;
	font-size: 30px;
	transition: 0.3s;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

#logo img {
	height: 40px;
}

#logo:link {
	text-decoration: none;
	color: #ffffff;
}

#logo:hover {
	color: #dddddd;
}

#profilepicture {
	height: 35px;
	width: 35px;
	border-radius: 100%;
}

body {
	margin-top: 100px;
}

.nav_link {
	color: #ffffff;
	transition: 0.3s;
	margin-left: 10px;
}

.nav_link:link {
	text-decoration: none;
	color: #ffffff;
}

.nav_link:visited {
	text-decoration: none;
	color: #ffffff;
}

.nav_link:hover {
	color: #dddddd;
}

.flatbtn {
	cursor: pointer;
	border: none;
	background: #5454de;
	padding: 4px 15px;
	border-radius: 3px;
	color: #ffffff !important;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none !important;
}
.flatbtn.disabled {
	background: #EEEEEE;
	color: #323232 !important;
    cursor: unset;
    pointer-events: none;
}



@media screen and (max-width: 720px) {
	.pastecode {
		width: 95%;
	}

	#web_contents {
		width: 90%;
	}

	.paste_title {
		width: 90%;
	}

	.error {
		width: 90%;
	}

	.contentinput {
		min-height: 270px;
	}

	#nav_menu {
		margin-right: 5%;
	}

	#logo {
		left: 5%;
		transform: translate(0);
		text-align: left;
	}
}

.sidenav {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #333344;
	overflow-x: hidden;
	padding-top: 50px;
	transition: 0.6s;
	box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 27px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #ffffff;
	background: #222233;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.pasteList_paste_href {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	color: #ffffff !important;
	text-decoration: none !important;
}
.pasteList_paste_href a:link,
a:visited {
	color: #ffffff !important;
	text-decoration: none !important;
}

.pasteList_paste_main {
	border-radius: 10px;
	padding: 10px;
	padding-bottom: 24px;
	background: #262b39;
	display: block;
	color: #ffffff;
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.pasteList_paste_title {
	font-size: 20px;
	font-family: "Space Mono", "Jost", monospace;
}

.pasteList_paste_content {
	font-size: 14px;
	max-height: 42px;
}

.pasteList_paste_date {
	color: #dedede;
	float: right;
	font-size: 14px;
}

#snackbar {
	background-color: #ffffff;
	color: #17fc2e;
	text-align: center;
	border-radius: 3px;
	padding: 16px 32px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 100%);
	transition: 0.3s;
	opacity: 0;
}

#snackbar.show {
	transform: translate(-50%, 0%);
	transition: 0.5s;
	opacity: 1;
}

#short_new_paste {
	background: #181b24;
	position: fixed;
	top: 70px;
	right: 30px;
	border-radius: 10px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 1px;
	color: #fff;
}

#short_new_paste h2 {
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 7px;
}

#create_new_paste {
	vertical-align: top;
	cursor: pointer;
	background: #324354;
	padding: 6px 10px;
	border-radius: 5px;
}

#login_btn {
	background: #4c749c;
	padding: 6px 10px;
	border-radius: 5px;
}

#login_btn img {
	width: 17px;
	vertical-align: middle;
	margin-bottom: 2px;
}

@media screen and (max-width: 380px) {
	#logo img {
		content: url("/assets/images/icon.png");
	}
}
.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
  background: transparent;
  font-family: 'Roboto Mono', "Space Mono", "Jost", monospace;
}

.hljs,
.hljs-tag,
.hljs-subst {
	color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
	color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #e1fc69;
  font-weight: 500;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: #a6e22e;
}

.hljs-strong {
	font-weight: normal;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: #5a72dd;
  font-weight: 600;
}

.hljs-keyword {
	font-weight: normal;
}

.hljs-symbol,
.hljs-attribute,
.hljs-attr {
	color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
	color: #f8f8f2;
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable,
.hljs-deletion,
.hljs-meta {
  color: #ff5b49;
  font-family: "Space Mono", "Jost", monospace;
  font-weight: 400;
  font-style: italic;
}

.hljs-comment {
	color: #5c6075;
  font-family: "Jost", sans-serif;
}

.hljs-string {
	color: #b5bd68;
}
